In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("chinook.db")
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)
print(customers_df.head(10))
conn.close()

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [3]:
iris_df = pd.read_json("iris.json")
print(iris_df.shape)
print("Column names:", iris_df.columns.tolist())

(150, 5)
Column names: ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

In [4]:
titanic_df = pd.read_excel("titanic.xlsx")
print(titanic_df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
movie_df = pd.read_csv("movie.csv")
print(movie_df.sample(10))

      color      director_name  num_critic_for_reviews  duration  \
2542  Color        Adam Rifkin                    42.0      95.0
370   Color        Rob Minkoff                   122.0      88.0
4488  Color        Nick Tomnay                   112.0      93.0
265   Color         Gavin Hood                   326.0     114.0
1721  Color      Edward Norton                   148.0     128.0
2286  Color    Jonathan Glazer                   167.0     100.0
4541  Color         C. Jay Cox                    35.0     107.0
998   Color                NaN                     4.0      60.0
372   Color     Paul Verhoeven                   180.0     119.0
3830  Color  Richard Linklater                   548.0     165.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
2542                     89.0                   322.0          Lin Shaye
370                      50.0                   441.0     Rachael Harris
4488                     11.0                   271.0    Clayne Crawford
265                     151.0                   430.0       Moises Arias
1721                      0.0                   754.0       Milos Forman
2286                    143.0                   430.0         Anne Heche
4541                      6.0                   522.0     Rob McElhenney
998                       NaN                   398.0    Brittany Curran
372                     719.0                   423.0        Kim Dickens
3830                      0.0                   127.0  Lorelei Linklater

      actor_1_facebook_likes       gross  \
2542                  1000.0   4193025.0
370                    691.0  75817994.0
4488                   443.0     48430.0
265                  11000.0  61656849.0
1721                   955.0  37036404.0
2286                   829.0   5005883.0
4541                 23000.0    819939.0
998                    629.0         NaN
372                    833.0  73209340.0
3830                   230.0  25359200.0

                                    genres  ... num_user_for_reviews language  \
2542                          Comedy|Music  ...                194.0  English
370   Comedy|Family|Fantasy|Horror|Mystery  ...                179.0  English
4488                 Comedy|Crime|Thriller  ...                 73.0  English
265                          Action|Sci-Fi  ...                554.0  English
1721                  Comedy|Drama|Romance  ...                259.0  English
2286        Drama|Mystery|Romance|Thriller  ...                361.0  English
4541                  Comedy|Drama|Romance  ...                252.0  English
998                 Drama|Mystery|Thriller  ...                 22.0  English
372          Action|Horror|Sci-Fi|Thriller  ...                628.0  English
3830                                 Drama  ...                836.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
2542      USA               R   15000000.0      1999.0                  852.0
370       USA              PG   90000000.0      2003.0                  569.0
4488      USA               R     500000.0      2010.0                  298.0
265       USA           PG-13  110000000.0      2013.0                  635.0
1721      USA           PG-13   30000000.0      2000.0                  869.0
2286      USA               R   20000000.0      2004.0                  681.0
4541      USA               R     850000.0      2003.0                  813.0
998       USA             NaN          NaN         NaN                  512.0
372       USA               R   95000000.0      2000.0                  624.0
3830      USA               R    4000000.0      2014.0                  193.0

     imdb_score  aspect_ratio movie_facebook_likes
2542        6.8          2.35                    0
370         4.9          2.35                  988
4488        6.8          1.85                    0
265         6.7          2.35               123000
1721        6.4          1.85                    0
2286        6.1          1.85                    0
4541        7.2          1.85                    0
998         7.5         16.00                  915
372         5.7          1.85                    0
3830        8.0          1.85                92000

[10 rows x 28 columns]

In [6]:

flights_df = pd.read_parquet('flights/part-00019-aefaf364-d401-4e57-92a5-82fae6fdc855-c000.snappy.parquet')
print(flights_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259396 entries, 0 to 259395
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 215.7+ MB
None

In [8]:
iris_df.columns = iris_df.columns.str.replace(' ', '').str.lower()
selected_iris_df = iris_df[['sepallength', 'sepalwidth']]
print(selected_iris_df)

     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [11]:
filtered_titanic_df = titanic_df[titanic_df['Age'] > 30]
print(filtered_titanic_df)
gender_count = titanic_df['Sex'].value_counts()
print(gender_count)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]
Sex
male      577
female    314
Name: count, dtype: int64

In [14]:
flights_subset = flights_df[['Origin', 'Dest', 'Reporting_Airline']]
print(flights_subset)
unique_destinations = flights_df['Dest'].nunique()
print(f"Number of unique destinations: {unique_destinations}")

       Origin Dest Reporting_Airline
0         DCA  LEX                YX
1         DCA  BOS                YX
2         BOS  DCA                YX
3         BOS  IND                YX
4         DCA  BOS                YX
...       ...  ...               ...
259391    ATL  DTW                DL
259392    ATL  DTW                DL
259393    ATL  DTW                DL
259394    ATL  DTW                DL
259395    ATL  DTW                DL

[259396 rows x 3 columns]
Number of unique destinations: 200

In [16]:
filtered_movie_df = movie_df[movie_df['duration'] > 120]
sorted_movie_df = filtered_movie_df.sort_values(by='director_facebook_likes', ascending=False)
print(sorted_movie_df)

      color      director_name  num_critic_for_reviews  duration  \
66    Color  Christopher Nolan                   645.0     152.0
3     Color  Christopher Nolan                   813.0     164.0
120   Color  Christopher Nolan                   478.0     128.0
1222  Color  Christopher Nolan                   341.0     130.0
97    Color  Christopher Nolan                   642.0     148.0
...     ...                ...                     ...       ...
3357  Color                NaN                     9.0     142.0
3582  Color                NaN                    10.0     240.0
3799  Color                NaN                     2.0     199.0
4005  Color                NaN                     NaN     197.0
4031  Color                NaN                    10.0     173.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
66                    22000.0                 11000.0      Heath Ledger
3                     22000.0                 23000.0    Christian Bale
120                   22000.0                 11000.0       Liam Neeson
1222                  22000.0                 19000.0      Hugh Jackman
97                    22000.0                 23000.0         Tom Hardy
...                       ...                     ...               ...
3357                      NaN                   427.0    Jack O'Connell
3582                      NaN                   334.0      Blake Ritson
3799                      NaN                   505.0  Jonathan Crombie
4005                      NaN                   110.0   Jessica De Gouw
4031                      NaN                   476.0        Colm Feore

      actor_1_facebook_likes        gross                            genres  \
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
3                    27000.0  448130642.0                   Action|Thriller
120                  23000.0  205343774.0                  Action|Adventure
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller
...                      ...          ...                               ...
3357                 27000.0          NaN                     Drama|Romance
3582                   805.0          NaN              Comedy|Drama|Romance
3799                   662.0          NaN                      Drama|Family
4005                   578.0          NaN                         Drama|War
4031                   723.0          NaN            Horror|Sci-Fi|Thriller

      ... num_user_for_reviews language    country  content_rating  \
66    ...               4667.0  English        USA           PG-13
3     ...               2701.0  English        USA           PG-13
120   ...               2685.0  English        USA           PG-13
1222  ...               1100.0  English        USA           PG-13
97    ...               2803.0  English        USA           PG-13
...   ...                  ...      ...        ...             ...
3357  ...                 33.0  English         UK             NaN
3582  ...                 50.0  English         UK             NaN
3799  ...                 74.0  English     Canada            TV-G
4005  ...                  1.0  English  Australia             NaN
4031  ...                 33.0  English        USA             NaN

           budget  title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66    185000000.0      2008.0                13000.0        9.0          2.35
3     250000000.0      2012.0                23000.0        8.5          2.35
120   150000000.0      2005.0                14000.0        8.3          2.35
1222   40000000.0      2006.0                20000.0        8.5          2.35
97    160000000.0      2010.0                27000.0        8.8          2.35
...           ...         ...                    ...        ...           ...
3357          NaN         NaN                  698.0        7.7           NaN
3582          NaN         NaN                  432.0        8.2          1.78
3799          NaN         NaN                  517.0        8.4          1.33
4005   15000000.0         NaN                  476.0        7.4           NaN
4031          NaN         NaN                  539.0        5.0          1.78

     movie_facebook_likes
66                  37000
3                  164000
120                 15000
1222                49000
97                 175000
...                   ...
3357                    0
3582                    0
3799                    0
4005                  367
4031                  518

[1039 rows x 28 columns]

In [ ]:
numeric_columns = iris_df.select_dtypes(include=['number'])
mean_values = numeric_columns.mean()
median_values = numeric_columns.median()
std_values = numeric_columns.std()
print("Mean:\n", mean_values)
print("Median:\n", median_values)
print("Standard Deviation:\n", std_values)

Mean:
 sepallength    5.843333
sepalwidth     3.057333
petallength    3.758000
petalwidth     1.199333
dtype: float64
Median:
 sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64
Standard Deviation:
 sepallength    0.828066
sepalwidth     0.435866
petallength    1.765298
petalwidth     0.762238
dtype: float64

In [21]:
# Find minimum, maximum, and sum of passenger ages
min_age = titanic_df['Age'].min()
max_age = titanic_df['Age'].max()
sum_age = titanic_df['Age'].sum()

print(f"Minimum Age: {min_age}")
print(f"Maximum Age: {max_age}")
print(f"Sum of Ages: {sum_age}")

Minimum Age: 0.42
Maximum Age: 80.0
Sum of Ages: 21205.17

In [23]:
director_likes = movie_df.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_likes = director_likes.max()
print(f"highest likes: {top_director} ({top_likes} likes)")

highest likes: Steven Spielberg (364000.0 likes)

In [24]:
longest_movies = movie_df.nlargest(5, 'duration')[['movie_title', 'duration', 'director_name']]
print(longest_movies)

                   movie_title  duration        director_name
1694                   Trapped     511.0                  NaN
2436                    Carlos     334.0                  NaN
1487       Blood In, Blood Out     330.0      Taylor Hackford
1134             Heaven's Gate     325.0       Michael Cimino
3254  The Legend of Suriyothai     300.0  Chatrichalerm Yukol

In [25]:
missing_values = flights_df.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 Year                     0
Quarter                  0
Month                    0
DayofMonth               0
DayOfWeek                0
                     ...
Div5WheelsOn        259396
Div5TotalGTime      259396
Div5LongestGTime    259396
Div5WheelsOff       259396
Div5TailNum         259396
Length: 109, dtype: int64

In [31]:
flights_df['flight_duration'] = flights_df['flight_duration'].fillna(flights_df['flight_duration'].mean())